<h2>About Rails DataBrowser</h2>

<p>Rails DataBrowser is a data browser based on the idea of <a href="http://www.djangoproject.com/documentation/databrowse/">Django's Databrowser</a>.</p>
<p>Using Rails DataBrowser you can browse, view, edit and crate data through your model classes. It's not a replacement to your DBMS or to your CMS, it's just a helper for developers and WebMasters to manage data without.</p>
<p>If you find a bug, please report it <a href="http://trac.milk-it.net/open/newticket">here</a></p>
<p />
<p>Rails DataBrowser plugin is sponsored by <a href="http://milk-it.net">Milk-it Brasil Software House</a> and maintained by <%= mail_to "carlos@milk-it.net", "Carlos Júnior", :encode => "hex", :replace_at => " at ", :replace_dot => "dot" %>.</p>
