<ul>
  <% @models.each_with_index do |model, i| %>
  <li>
    <%= link_to(model.table_name, data_browser_model_path(:model => i)) %> (<%= model.count %> records)
    <%= link_to("empty", data_browser_model_path(:model => i), :confirm => "Are you sure?", :method => :delete) %>
  </li>
  <% end %>
</ul>
