<% form_for(current_object, :url => data_browser_model_path(:model => current_model_id), :method => :post) do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="button">
      <%= submit_tag("Create") %> or <%= link_to("cancel", :action => "browse", :model => @model.to_s) %>
  </div>
<% end %>
